.categories {
  padding-top: 96px;

  @include on-tablet {
    padding-top: 120px;
  }

  &__title {
    max-width: 280px;
    margin-bottom: 48px;
    font-size: $font-size-h2;
    line-height: $spacing-8;

    @include on-tablet {
      max-width: 420px;
      margin-bottom: 56px;
      font-size: $font-size-h2-tablet;
      line-height: $spacing-10;
    }

    @include on-desktop {
      max-width: 400px;
      font-size: $font-size-h2-tablet;
      line-height: $motto-font-size-tablet;
    }
  }

  &__list {
    display: grid;
    gap: $spacing-10;
    margin-bottom: $spacing-10;

    @include on-tablet {
      gap: 56px;
      margin-bottom: 56px;
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;

  &__pair {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    justify-content: space-between;
    gap: $spacing-5;

    @include on-tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: stretch;
      gap: $spacing-6;
    }
  }

  &__link {
    overflow: hidden;
    display: block;
    width: 130px;
    height: 130px;

    @include on-tablet {
      width: auto;
      height: 184px;
    }

    @include on-desktop {
      height: 324px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform $duration ease;
  }

  &__link:hover .category__image {
    transform: scale($scale);
  }

  &__title {
    font-size: $font-size-normal-18;
    line-height: $height-text-l40;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 14px;
  border: none;
  border-radius: $spacing-2;
  font-size: $font-size-normal-16;
  font-weight: $font-weight-bold;
  line-height: 27px;
  color: $color-button-text-main;
  text-decoration: none;

  @include on-desktop {
    width: 324px;
  }

  &--primary {
    background-color: $color-button-primary;

    &:hover,
    &:active {
      background-color: $color-button-hover;
    }
  }
}
