.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url('../images/header-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: $padding-page;

    @include on-tablet {
      padding-top: $spacing-9;
    }

    @include on-desktop {
      max-width: none;
      margin-inline: 0;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    flex: 1;
    width: 100%;
    padding-bottom: $spacing-8;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      max-width: none;
      margin-inline: 0;
    }
  }

  &__logo {
    display: flex;
    transition: transform $duration ease;

    &:hover {
      transform: scale($scale);
    }
  }

  &__image {
    display: block;
    width: 152px;

    @include on-tablet {
      width: 228px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: $spacing-6;

    @include on-tablet {
      gap: $spacing-8;
    }
  }

  &__title {
    max-width: 280px;
    font-size: $motto-font-size;
    line-height: 100%;
    color: $color-button-text-main;

    @include on-tablet {
      max-width: 380px;
      font-size: $motto-font-size-tablet;
    }

    @include on-desktop {
      max-width: 360px;
      font-size: $motto-font-size-desktop;
      line-height: 100%;
    }
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  min-height: $size-header-icons;
  text-decoration: none;
  cursor: pointer;

  @include on-tablet {
    min-height: $spacing-8;
  }

  &__number {
    overflow: hidden;
    max-width: 0;
    margin-left: 0;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 1;
    color: $color-text-form;
    white-space: nowrap;
    opacity: 0;
    transition: all $duration ease;

    @include on-tablet {
      font-size: $font-size-small-hover;
    }
  }

  &--phone {
    width: auto;
    min-width: $size-header-icons;
    background-image: url('../images/Icon-Phone-call.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: $spacing-6;
    padding-right: $size-header-icons;

    @include on-tablet {
      background-size: $spacing-8;
      padding-right: $spacing-8;
    }

    &:hover {
      cursor:
        url('../images/Cursor-Mouse-Mice.png') 10 10,
        pointer;
    }

    &:hover .icon__number,
    &:focus .icon__number {
      max-width: 160px;
      margin-right: $spacing-2;
      opacity: 1;
    }
  }

  &--menu {
    width: auto;
    min-width: $size-header-icons;
    background-image: url('../images/Icon-Burger-menu.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: $spacing-6;

    // padding-left: $size-header-icons;

    @include on-tablet {
      width: $spacing-8;
      height: $spacing-8;
    }

    &:hover {
      background-image: url('../images/Icon-Burger-menu-hover.png');
      cursor:
        url('../images/Cursor-Mouse-Mice.png') 10 10,
        pointer;
    }
  }
}
