@import './variables';
@import './reset';
@import './mixins';
@import './header';
@import './aside';
@import './footer';

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  color: $color-button-hover;
}

.page {
  min-width: 320px;
  margin: 0;
  font-family: Manrope, sans-serif;
  color: $color-button-hover;
  background-color: $color-text-main;

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

// .page__content {
//   overflow: hidden;
// }

.container {
  padding-inline: $padding-page;

  @include tablet {
    padding-inline: $padding-page-tablet;
  }

  @include desktop {
    max-width: 1260px;
    margin-inline: auto;
    padding-inline: $padding-page-desktop;
  }
}

a,
button,
input,
textarea {
  font: inherit;
  transition: all $duration ease;
}
