.recommended {
  padding-top: 64px;

  @include on-tablet {
    padding-top: 120px;
  }

  &__title {
    margin-bottom: 48px;
    font-size: $font-size-h2;
    line-height: $spacing-8;

    @include on-tablet {
      margin-bottom: 56px;
      font-size: $font-size-h2-tablet;
      line-height: $spacing-10;
    }

    @include on-desktop {
      font-size: $motto-font-size-tablet;
      line-height: $motto-font-size-tablet;
    }
  }

  &__list {
    display: grid;
    gap: $spacing-10;

    @include on-tablet {
      gap: 56px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: $spacing-6;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;

  &__link {
    overflow: hidden;
    display: block;
    margin-bottom: $spacing-6;
  }

  &__image {
    width: 100%;
    transition: transform $duration ease;
  }

  &:hover .product__image {
    transform: scale($scale);
  }

  &__name {
    margin-bottom: $spacing-2;
    font-size: $font-size-normal-18;
    line-height: $height-text-l40;
  }

  &__description {
    margin-bottom: $spacing-3;
    font-size: $font-size-normal-16;
    font-weight: $font-weight-normal;
    line-height: $height-text-l40;
  }

  &__price {
    font-size: $font-size-normal-16;
    font-weight: $font-weight-bold;
    line-height: $height-text-l40;
  }
}
