// Colors //
$color-text-main: #fff;
$color-text-address: #191919;
$color-text-secondary: #9393a3;
$color-text-form: #000;
$color-button-primary: #f98921;
$color-button-hover: #1b2129;
$color-button-pressed: #010810;
$color-background-menu: #f9f9f9;
$color-background-second: #fcfaef;
$color-background-form-hover: #dbdbdb;

// Fonts //
$motto-font-size: 36px;
$motto-font-size-tablet: 48px;
$motto-font-size-desktop: 56px;
$font-size-big: 22px;
$font-size-normal-18: 18px;
$font-size-normal-16: 16px;
$font-size-small: 12px;

// Dimentions //
$size-header-icons: 24px;

// Other //
$duration: 300ms;
$scale: 1.1;
