// Indents //
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;
$padding-page: $spacing-6;
$padding-page-tablet: 72px;
$padding-page-desktop: 120px;

// Colors //
$color-text-main: #1b2129;
$color-button-text-main: #fff;
$color-text-address: #191919;
$color-text-secondary: #9393a3;
$color-text-form: #000;
$color-button-primary: #f98921;
$color-button-hover: $color-text-main;
$color-button-focus: #010810;
$color-background-menu: #f9f9f9;
$color-background-second: #fcfaef;
$color-border-form-hover: #dbdbdb;

// Fonts //
$motto-font-size: $spacing-9;
$motto-font-size-tablet: 48px;
$motto-font-size-desktop: 56px;
$font-size-big: 22px;
$font-size-normal-18: 18px;
$font-size-normal-16: $spacing-4;
$font-size-small: $spacing-3;
$font-size-small-hover: 14px;
$font-size-h2: $spacing-8;
$font-size-h2-tablet: $spacing-10;
$height-text-l40: 140%;
$font-weight-bold: 700;
$font-weight-normal: 400;

// Dimentions //
$width-min: 320px;
$width-tablet: 744px;
$width-desktop: 1200px;
$width-desktop-max: 1260px;
$size-header-icons: $spacing-6;
$border-radius-button: $spacing-2;

// Other //
$duration: 1s;
$scale: 1.1;
